APP_ENV=dev
HTTP_ADDR=:8080
MYSQL_DSN=devflow:devflow@tcp(127.0.0.1:3307)/devflow?charset=utf8mb4&parseTime=True&loc=Local
REDIS_ADDR=127.0.0.1:6379
RABBITMQ_URL=amqp://devflow:devflow@127.0.0.1:5672/
AUTO_MIGRATE=false
JWT_SECRET=change-me
